/* Виключення підсвічування фокусу для стрілок */
.reviews__arrow {
  /* Інші стилі для стрілок */

  /* Відключення підсвічування фокусу */
  -webkit-tap-highlight-color: transparent; /* Для WebKit браузерів */
  -webkit-tap-highlight-color: rgba(
    0,
    0,
    0,
    0
  ); /* Загальний підхід для відключення */
  outline: none; /* Відключення стандартного контуру */
}
