@media (max-width: 35em) {
    .primary-navigation {
        --gap: 2em;

        position: fixed;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        padding: 10rem 2rem;

    }
}